// ================================================================================================
// 	File Name: authentication.scss
// 	Description: Page content different authentication pages layouts SCSS.
// 	----------------------------------------------------------------------------------------------
// 	Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Core mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";

// Overrides user variable
@import "../core/variables/components-variables";

// authentication pages background
.bg-authentication{
  background-color: $blank-bg-color;
  .login-footer{
    padding: 0rem 1.5rem 0.5rem;
    .footer-btn{
      .btn{
        padding: 0.9rem 1.2rem !important;
        margin: 1rem 1rem 1rem 0rem;
      }
    }
  }

}

#hero{
    margin-top: 160px;
    h1{
        font-weight: bolder;
        font-size: 3.5rem;
        line-height: 4.5rem;
        span{
            //color: #FED15C;
        }
    }
    p{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}

@include media-breakpoint-down(sm){
    #hero{
        margin-top: 32px;
        h1{
            font-size: 2rem;
            line-height: 2.5rem;
        }
        p{
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
    .image-hero{
        width: 100%;
    }
}

// IE Specific CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  // Authentication Pages scss
  .bg-authentication{
    width: 100%;
  }
}
